@import 'tailwindcss';

body {
    font-family: 'Satoshi', sans-serif;
    cursor: none;
    overflow-x: hidden;
}
a{
    cursor: none;
}
a:hover{
    color: red;
}
/* .project-title{
    font-size: 6rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: -0.05em;
} */