@import 'tailwindcss';

body {
    font-family: 'Satoshi', sans-serif;
    cursor: none!important;
    overflow-x: hidden;
}

/* Mobile-friendly cursor adjustments */
@media (max-width: 768px) {
    body {
        cursor: auto;
    }
    a {
        cursor: pointer;
    }
}

a{
    cursor: none;
}

/* .project-title{
    font-size: 6rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: -0.05em;
} */